@model IEnumerable<AppMovie.Models.Location>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a class="create-link" asp-action="Create">Crear Localidad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Countries.CountryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationID">Editar</a> |
                <a onclick="eliminarUbicacion(@item.LocationID)" class="btn-delete">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function eliminarUbicacion(id){
    var eliminar = confirm("Esta seguro que desea eliminar esta Ubicacion?");
    if(eliminar){
        location.href = "../../Locations/DeleteConfirmed/" + id;
    }
}
</script>
</body>
</html>
