@model IEnumerable<AppMovie.Models.Partner>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a class="create-link" asp-action="Create">Crear Socio/Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerBirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerBirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locations.LocationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartnerID" class="btn-edit">Editar</a> |
                <a onclick="eliminarPartner(@item.PartnerID)" class="btn-delete">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function eliminarPartner(id){
    var eliminar = confirm("Esta seguro que desea eliminar a este socio?");
    if(eliminar){
        location.href = "../../Partners/DeleteConfirmed/" + id;
    }
}
</script>
</body>
</html>
