@model IEnumerable<AppMovie.Models.Section>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secciones</title>
</head>
<body>
    <h1>Listado de Secciones</h1>
    <hr>
<p>
    <a asp-action="Create" class="btn btn-info">Nueva Seccion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SectionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SectionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SectionID" class="btn btn-primary">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.SectionID">Details</a>
                <a asp-action="Delete" asp-route-id="@item.SectionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
