@model IEnumerable<AppMovie.Models.Section>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secciones</title>
</head>
<body>
    <h1>Listado de Secciones</h1>
    <hr>
<p>
    <a asp-action="Create" class="btn btn-light">Nueva Seccion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SectionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SectionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SectionID" class="btn">Editar</a>
                <a asp-action="Details" asp-route-id="@item.SectionID" class="btn">Detalles</a>
                <a onclick="eliminarSeccion(@item.SectionID);" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function eliminarSeccion(id){
        var eliminar = confirm("Esta seguro que desea eliminar esta seccion?");
        if(eliminar){
            location.href = "../../Sections/DeleteConfirmed/" + id;
        }
    }
</script>
</body>
</html>
