@model IEnumerable<AppMovie.Models.Movie>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a class="create-link" asp-action="Create">Crear Película</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProducerID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.SectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.GenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.ProducerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieID" class="btn-edit">Editar</a> |
                <a onclick="eliminarMovie(@item.MovieID)" class="btn-delete">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
function eliminarMovie(id){
    var eliminar = confirm("Esta seguro que desea eliminar a esta pelicula?");
    if(eliminar){
        location.href = "../../Movies/DeleteConfirmed/" + id;
    }
}
</script>
</body>
</html>
