@model IEnumerable<AppMovie.Models.Return>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a class="create-link" asp-action="Create">Crear devolucion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner.PartnerName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ReturnID">Detalle</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
