@model IEnumerable<AppMovie.Models.Rental>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a class="create-link" asp-action="Create">Crear Nuevo Alquiler</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner.PartnerName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.RentalID">Detalle</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function eliminarRental(id){
    var eliminar = confirm("Esta seguro que desea eliminar este Alquiler?");
    if(eliminar){
        location.href = "../../Rentals/DeleteConfirmed/" + id;
    }
}
</script>
</body>
</html>
